<section class="card"> 
    <div class="card-body">
    <h2>About tha!</h2>
   
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus labore expedita libero maxime minima earum nobis quos id tempora quibusdam enim, iusto quaerat beatae ut obcaecati assumenda aperiam officia commodi?</p>
  
    </div>

</section>