<div class="jumbotron mt-4">
  <h1 class="display-4">Notes Yukn</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, perferendis assumenda? Necessitatibus eum eaque accusamus doloribus. Deleniti voluptatem suscipit rerum.</p>
  <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, perferendis assumenda? Necessitatibus eum eaque accusamus doloribus. Deleniti voluptatem suscipit rerum.</p>
    <a href="www.ti-creative.com" class="btn btn-secondary">TIC</a>
</div>