<div class="col-md-4 mx-auto">

    <div class="card text-center">
        <div class="card-header">
        <h2>Edit Note</h2>
    </div>
    <div class="card-body">
         <form action="/notes/edit/{{id}}?_method=PUT" method="POST"> 
         <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="Write a title" value="{{title}}">
        </div>
        <div class="form-group">
            <textarea  class="form-control" id="txaMessage" name="description" placeholder="Write a description" maxlength="150">{{description}}</textarea>
        <div class="text-right"><span id="caracteres" class="valid-text pt-3" id="txaCount"></span></div>
        </div>

        <div class="form-group"><button type="submit" class="btn btn-primary btn-block">Update</button></div>
            

    </form>
    </div>
    </div>
    
   
</div>